llama-index==0.11.23
llama-index-core==0.11.23
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-pinecone
llama-index-readers-file

ebooklib
beautifulsoup4
nltk

pinecone-client>=3.0.0
tqdm
python-dotenv
requests